## Algorithm Ignore File ##

# all type
*

# except .gitignore
!.gitignore

# except c, cpp, java, py, md files
!*.c
!*.cpp
!*.java
!*.py
!*.md

# except directories
!BOJ
!BOJ/problems
!BOJ/contest_*

!CodeForces
!CodeForces/contest_*

!SDS
!SDS/test_*

!LINE
!LINE/test_*

!CodeGround
!CodingParty
!SWExpert
!TestDoc
!SCPC
!ETC
