## Algorithm Ignore File ##

*
BOJ/
Codeground/
SWexpert/
TestDoc/
codingparty/
etc/

!*.c
!*.cpp
!*.java
!*.py
!*.md
!.gitignore

!BOJ/*.c
!BOJ/*.cpp
!BOJ/*.java
!BOJ/*.py
!BOJ/*.md

!Codeground/*.c
!Codeground/*.cpp
!Codeground/*.java
!Codeground/*.py
!Codeground/*.md

!SWexpert/*.c
!SWexpert/*.cpp
!SWexpert/*.java
!SWexpert/*.py
!SWexpert/*.md

!TestDoc/*.c
!TestDoc/*.cpp
!TestDoc/*.java
!TestDoc/*.py
!TestDoc/*.md

!codingparty/*.c
!codingparty/*.cpp
!codingparty/*.java
!codingparty/*.py
!codingparty/*.md

!etc/*.c
!etc/*.cpp
!etc/*.java
!etc/*.py
!etc/*.md
